---
title: Mastering Services
layout: splash-home
---


<section id="free" align="center">
 <!--  <div class="wow fadeInUp" data-wow-delay="1.4s"> -->


<div class="col-lg-12" style="padding: 5% 0px; background: url(/img/backgrounds/faders-lq.jpg) no-repeat center center;   background-size: cover; 
  background-attachment: fixed;">



  <div class="page-scroll row-fluid" style="padding: 7% 10%; background-color:rgba(0, 0, 0, 0);">
    <h1 class="hidden-xs hidden-sm hidden-md" style="font-size: 450%; color: #fff; text-align: center; text-shadow: 0px 0px 20px #333; text-transform: uppercase;">Not just a master</h1>

    <h1 class="hidden-lg hidden-xl" style="font-size: 200%; color: #fff; text-align: center; text-shadow: 0px 0px 20px #333; padding-top: 10%; text-transform: uppercase;">Not just a master</h1>

          <p style=" font-family: 'Lato'; font-size: 160%; margin: 0px; color: #fff; font-weight: 400; text-shadow: 0px 0px 20px #333;" >
            But a working relationship with a professional audio engineer.</p>
            <p style=" font-family: 'Lato'; font-size: 119%; margin: 0px; color: #fff; font-weight: 400; text-shadow: 0px 0px 20px #333;" >
            <br> <br>
            While we launch, discover how your audio can sound at its full potential with a free master, mix feedback, or podcast master from your own mastering engineer. 

          <br>Enter your email below, and your engineer will reach out to you to get started on your first project, free of charge.<br>
<br>
</p>


<div >









                <form id="contact-form" method="POST" action="http://formspree.io/keenan.hye@getmastered.com">
                <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        <div class="form-group">
                            <div class="input-group" style="box-shadow: 0px 0px 20px #777;">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" name="_replyto" class="form-control" id="email" placeholder="Your email" required="required" style=" text-align: left; font-size: 15px; font-weight: 700;"/>
                               <input type="hidden" name="_subject" value="Normal Submission" /></div>
                        </div>
                    </div>
                    <input type="hidden" name="_next" value="/thank-you" />
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs" style="box-shadow: 0px 0px 20px #777; color: #fff;">
                            Connect</button>
                    </div>
                </div>
                </form>
                
               <!-- <div class="hidden-xs hidden-sm" >
              <p style="color: #fff; font-size: 15px; font-weight: 300;">Rest assured, "spamming" is not in our vocabulary.</p>
              </div> -->
            </div>

<!-- <a class="master-color-lighter" href="/free-master" style="font-size: 170%; text-shadow: 0px 0px 20px #000;">CLICK HERE TO GET STARTED</a> -->

          </p>
          <br>
          <a href="#about">
          <p class="hidden-xs hidden-sm hidden-md" style="font-size: 170%; color: #FFF; text-align: cetner; text-shadow: 0px 0px 20px #000; padding-top: 100px; font-weight: 400;">Scroll to learn more about Get Mastered</p>
          <p class="hidden-xl hidden-lg" style="font-size: 150%; color: #FFF; text-align: cetner; text-shadow: 0px 0px 20px #000; padding-top: 0px; font-weight: 400;">Scroll to learn more about Get Mastered</p>
          <img src="/img/down-arrow.png" alt="arrow" width="10%">
          </a>


<!--         </div>  -->
      </div>
      </div>

<!-- <div class="col-lg-12" style="padding: 4% 15%; background: url(/img/faders.jpg) no-repeat center center;   background-size: cover; 
  background-attachment: fixed;">



            <div class="row-fluid">
              <h1 style="font-size: 350%; color: #FFF; text-align: center;">Scoll for more about Get Mastered</h1>
          </div>
          </div -->

                    



<div id="about" class="page-scroll col-lg-12 bg-white" style="padding: 5% 15%; margin: 0px;">
<div class="row-fluid">
  <h1>What is Get Mastered?</h1>

<p style="font-size: 16px;">
  Get Mastered is an audio improvement and mastering service run by professional mastering engineers, and is the only service of its kind that provides musicians, engineers, and podcasters of all levels a chance to grow their production skills through mix and recording feedback. Below is just one example of the difference we can make to your audio through our collaborative mastering process:


</p>

<div class="row-fluid" style="margin: 2% 0% 4% 0%;">
  <h1 id="beforeAfter"><br></h1>
  <audio id="player1" muted="true;" loop="true;" hidden  controls>
    <source src="/audio/UNMASTERED - Mr Grimly - Autumn Song ft Kite (Electronic Chill).mp3" type="audio/mpeg">
      Your browser does not support the audio element.
  </audio>

  <audio id="player2" muted="true;" loop="true;" hidden controls>
    <source src="/audio/MASTERED - Mr Grimly - Autumn Song ft Kite (Electronic Chill).mp3" type="audio/mpeg">
      Your browser does not support the audio element.
  </audio>

  <button class="btn btn-skin" id="playpause" type="btn" onclick="audioPlayPause()" style="font-size: 32px;">Play Example</button>
  <br><br>
  <button class="btn btn-skin" id="toggle" type="btn btn-skin" onclick="audioToggle()" style="visibility: hidden !important;">Toggle Before/After</button>

<br>
</div>


<script>
var playing = false;
var p1, p2;

function audioToggle() {

  p1 = document.getElementById("player1");
  p2 = document.getElementById("player2");
  
     if (p1.muted == true){
      // mute only mastered
      p1.muted = false;
      // play unmastered
      p2.muted = true;
      document.getElementById("beforeAfter").innerHTML = "Before";
    } else {
      // mute only unmastered
      p1.muted = true;
      // play mastered
      p2.muted = false;
      document.getElementById("beforeAfter").innerHTML = "After";
    }
  

}
function audioPlayPause(){

  p1 = document.getElementById("player1");
  p2 = document.getElementById("player2");

  if (playing == false) {
    p1.muted = false;
    p2.muted = true;
    p1.play();
    p2.play();
    playing = true;
    document.getElementById("toggle").style = "visibility: visible !important;";
    document.getElementById("playpause").innerHTML = "Pause Audio";
    document.getElementById("beforeAfter").innerHTML = "Before";
  } else {
    document.getElementById("player1").pause()
    document.getElementById("player2").pause()
    playing = false;
    document.getElementById("playpause").innerHTML = "Play Audio";
    document.getElementById("toggle").style = "visibility: hidden !important;";
    document.getElementById("beforeAfter").innerHTML = "<br>";
  }

}
</script>

<div class="row-fluid">
<p style="font-size: 16px;">
  Our mastering engineers strive to bring your audio to a professional level, <a href="#rates">at rates that are the absolute best value for your dollar.</a><b> We offer assistance at the recording, mixing, and mastering stages to improve both your audio quality and your own production skills.
</b>
  Just read <a href="#reviews">reviews from our happy customers</a>, listen to some more <a target="_blank" href="/examples/">examples of our work</a> and get started today with <a href="#free">your first project free!</a>
  <br>
  <br>
  Learn more about Get Mastered, our engineers, and our vision, by clicking <a href="/blog/about/What-Is-Get-Mastered/">here</a>, or keep scrolling to see our services and rates.

</p>

  <br>
  <br>
</div>
</div>
</div>



{% include rates.html %}
<div class="col-xs-12"></div>
{% include rates-services.html %}
{% include rates-podcasts.html %}




{% include reviews.html %}

  </div>

</section>
