
<form class="hidden-xs hidden-sm" id="contact-form" method="POST" action="https://formspree.io/keenan.hye@getmastered.com">
                <div class="row">

                    <div class="col-md-1 col-md-offset-2">
                        <select name="_subject">
                            <option value="Mix Feedback Submission">Mix Feedback</option>
                            <option value="Mastering Submission">Mastering</option>
                            <option value="Audio Cleanup Submission">Audio Cleanup</option>
                        </select>
                    </div>

                    <div class="col-md-6" style="margin: 0px 0px 0px 40px;">
                        <div class="form-group">
                            <div class="input-group" style="box-shadow: 0px 0px 10px #ccc;">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" name="_replyto" class="form-control" id="email" placeholder="Your email" required="required" style=" text-align: left; font-size: 15px; font-weight: 700;"/>
                               <input type="hidden" name="_subject" value="Normal Submission" /></div>
                        </div>
                    </div>

                    <input type="hidden" name="_next" value="/thank-you" />
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs" style="color: #fff; box-shadow: 0px 0px 10px #ccc;">
                            Try Free</button>
                    </div>

                </div>
                </form>