

<div id="faq" class="col-lg-12 bg-white" style="padding-top: 50px;">
  <div class="row">
  <h2>Frequently Asked Questions</h2>


    <div class="col-md-3" style="padding: 2%; margin 10%;">
      <div class="row">
      <p style="font-size: 18px;">
        <b>What is mastering?</b>
      </p>
      <img src="/img/icons/master-icon.png">
      </div>

      <div class="row">
      <p style="font-size: 14px;">
        <br>
        To many, mastering is simply adding volume to a track. Not to us! Our engineers understand mastering to be a truly vital "second opinion" of an audio work. In addition to adding volume and making sure your tracks are ready for release, <b>our engineers take pride in enhancing the sonic quality of a work while retaining its original vision and fundamental spirit.</b> Plus, we offer revisions to make sure you are fully satisfied with your master, and masters for our subscribers <i>do</i> roll over month to month. Get Mastered engineers <i>work with you</i> to give you studio-grade masters at refreshing, fair prices.
        <br>
        <a href="/examples/">Listen yourself to some of our previous work here!</a>
      </p>
      </div>
    </div>

    <div class="col-md-3" style="padding: 2%; margin 10%;">
      <div class="row">
      <p style="font-size: 18px;">
        <b>What is mix feedback?</b>
      </p>
      <img src="/img/icons/mix-icon.png">
    </div>

    <div class="row">
      <p style="font-size: 14px;">
        <br>
        Of course, creating the perfect track doesn't start at the mastering level; some mix decisions can make or break a great song. We know our customers want to learn how to mix like the pros, and that is why our mastering engineers offer mix feedback. It is our strong held belief that <b>there is nothing more vital to growth than receiving feedback on your work from experienced ears</b>. In fact, we believe this to be such a vital step to personal growth that we hold weekly feedback sessions in-house for our own engineers to critique the masters we work on (and of course our own musical projects!)

      </p>
    </div>
  </div>

    <div class="col-md-3" style="padding: 2%; margin 10%;">
      <div class="row">
      <p style="font-size: 18px;">
        <b>What is stem mastering?</b>
      </p>
      <img src="/img/icons/stem-icon.png">
    </div>

    <div class="row">
      <p style="font-size: 14px;">
        <br>
        Just plain unhappy with how your mix sounds? <b>Stem mastering is the closest you can get to actually giving your mastering engineer the reins to your project.</b> With stem mastering, you send us separate groups of tracks, bounced together on one audio file (called a stem). We then mix those stems, and master the result. For example, if you recorded a full drum kit, three guitars, and three vocal tracks, you could send us one stem with all the drum tracks, one stem with all the guitar tracks, and one stem with all the vocal tracks, each mixed to your liking. For those times when you are banging your ears against a wall, stem mastering is a perfect solution.

      </p>
    </div>
  </div>

    <div class="col-md-3" style="padding: 2%; margin 10%;">
      <div class="row">
      <p style="font-size: 18px;">
        <b>What about non-musical audio?</b>
      </p>
      <img src="/img/icons/pod-icon.png">
    </div>
        <div class="row">
        <p style="font-size: 14px;">
          <br>
        Our engineers also have experience with non-musical work, <b>including podcasts and film!</b> Due to the differences in the nature of these works, we have custom rates for podcasts, film, and other audio projects. We do anything and everything audio! <a href="/contact/">Reach out to us with some details about your project</a>, or contact your engineer directly for special rates on non-musical projects.

      </p>
    </div>

    </div>
  </div>
  

  </div>