

<div id="faq" class="col-lg-12 bg-white" style="padding: 50px;">
  <div class="row">

    <h1 class="faq-header">FAQ</h1>

    <div class="faq-div">
      <h3>What is mastering?</h3>
      <p>Mastering means a lot of different things to different people. To us, it means making your music sound amazing, together.
        <br>
        <a href="/blog/about/What-Is-Mastering/">Learn more about our take on mastering here</a></p>
    </div>

    <div class="faq-div">
      <h3>Who are you guys?</h3>
      <p>We are audio professionals with expertise in various fields of audio, both heavily technical and artistic.
        <br>
        <a href="/blog/about/Who-We-Are/">Click here to read more about us</a>.</p>
    </div>

    <div class="faq-div">
      <h3>Can I listen to some examples of your work?</h3>
      <p>Yes - that's an easy one!
        <br>
        <a href="/our-work/">You can do that right here</a>.</p>
    </div>

    <div class="faq-div">
      <h3>I really can't afford your rates right now. Can I still Get Mastered?</h3>
      <p>Yes! We know that even the most talented artists sometimes can't afford professional mastering, and we think that's a shame. We don't want you to have to resort to lousy, unprofessional mastering services, so <a href="https://goo.gl/forms/3611iAFy1O5Mpgu72">we do offer Pro Bono Mastering Services</a> for artists that we consider incredibly unique and talented.</p>
    </div>

    <div class="faq-div">
      <h3>Do you guys offer mixing services? What about stem mastering?</h3>
      <p>
        Mixing and stem mastering are much more time intensive than mastering, and because of this, we don't offer them through our website. However, our engineers do help clients with mixing needs on occassion. Our engineers each have their own individual mixing rates when they are available to take on mixing work. The same goes for stem mastering, but both really depend on our workload.
        <br><br>
        If you are already connected with one of our engineers, reach out to them for more information on rates and availability. If you are not connected with us, send us an email at <a href="mailto:services@getmastered.com">services@getmastered.com</a> and ask about our availability and rates.
      </p>
    </div>


  </div>
  
</div>