<!DOCTYPE html>
<div class='row'>
<form id="contact-form" method="POST" action="http://formspree.io/keenan.hye@getmastered.com" style="padding: 0px 25px;">
	<p style="color: #ffffff;">don't want to miss a post?</p>
	<h4 style="font-size: 27px; color: #84E8E1;">Sign up for the mailing list!</h4>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <textarea name="email" id="email" class="form-control" rows="1" cols="25" required="required"
                                placeholder="youremail@something.com"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-skin pull-left bg-dark" id="btnContactUs" >
                            Sign Up</button>
                        </div>
                </div>
                </form>
                </div>