<!DOCTYPE html>
<div class='row'>
<form id="contact-form" method="POST" action="http://formspree.io/keenan.hye@getmastered.com" style="padding: 0px 0px;">
	<p style="color: #ffffff; text-align: right;">don't want to miss a post?</p>
	<h4 style="font-size: 27px; color: #84E8E1; text-align: right;">Sign up for the mailing list:</h4>
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group">
                            <textarea name="email" id="email" class="form-control" rows="1" cols="100" required="required"
                                placeholder="youremail@something.com"></textarea>
                    </div>
                        <button type="submit" class="btn btn-skin pull-right bg-dark" id="btnContactUs" >
                            Sign Up</button>

                </div>
                </div>
                </form>
                </div>