

<div id="about" class="landing-lower col-lg-12">


  <h1>Get the sound you want</h1>
  <br>


  
  <div class="col-md-12">
    <a href="/services/mastering/">
    <div class="service-panel">
    <h3>Music Mastering</h3>
    <!-- <img src="/img/icons/cd.png" height="75"> -->
    <p>Make your music cohesive, clear, and balanced on any system through our collaborative mastering process. Bring your music to the level of the artists you admire by clicking here.</p>
    </div>
    </a>
  </div>


<!--   <div class="col-md-4">
    <a href="/services/audio-cleanup/">
    <div class="service-panel">
      <h5>For Podcasters</h5>
    <h3>Audio Cleanup</h3>
    <p>Restore problematic dialogue recordings to sound clear, audible, and natural. Whether you're working on a podcast, lecture, interview, or historical recording, click here to learn how we can help you.</p>
    <img src="/img/icons/mic.png" height="75">
    <br><br>
    <h4>Try now free</h4>
    </div>
    </a>
  </div> -->

<!--   <div class="col-lg-12">
  <br>
  {% include email-submission-form-landing.html %}
  <br>
  </div> -->
  

  <div class="col-lg-12">
  <p><br><br><b>Learn more about our <a href="/blog/about/Who-We-Are/">engineers</a>, our <a href="/blog/about/What-Is-Get-Mastered/">philosophy</a>, and <a href="/services/mastering/#reviews">what people think of us</a>.</b></p>
  <br>
  </div>
  
  </div>