<!-- <div id="about" class="page-scroll col-lg-12 landing-lower" style="padding: 5% 15%; margin: 0px;">
<div class="row-fluid">
  <h1>What is Get Mastered?</h1>

<p style="font-size: 16px;">
  Get Mastered is an audio consultation and mastering service run by professional mastering engineers. We are the only professional service that provides musicians, engineers, and podcasters of all levels a chance to grow their own production skills through personalized mix feedback and recording assistance. Below is just one example of the difference we can make to your audio through our collaborative mastering process:


</p>

<div class="row-fluid" style="margin: 2% 0% 4% 0%;">
  <h1 id="beforeAfter"><br></h1>
  <audio id="player1" muted="true;" loop="true;" hidden  controls>
    <source src="/audio/UNMASTERED - Mr Grimly - Autumn Song ft Kite (Electronic Chill).mp3" type="audio/mpeg">
      Your browser does not support the audio element.
  </audio>

  <audio id="player2" muted="true;" loop="true;" hidden controls>
    <source src="/audio/MASTERED - Mr Grimly - Autumn Song ft Kite (Electronic Chill).mp3" type="audio/mpeg">
      Your browser does not support the audio element.
  </audio>

  <button class="btn btn-skin" id="playpause" type="btn" onclick="audioPlayPause()" style="font-size: 32px;">Play Example</button>
  <br><br>
  <button class="btn btn-skin" id="toggle" type="btn btn-skin" onclick="audioToggle()" style="visibility: hidden;">Toggle Before/After</button>

<br>
</div>


<script>
var playing = false;
var p1, p2;

function audioToggle() {

  p1 = document.getElementById("player1");
  p2 = document.getElementById("player2");
  
     if (p1.muted == true){
      // mute only mastered
      p1.muted = false;
      // play unmastered
      p2.muted = true;
      document.getElementById("beforeAfter").innerHTML = "Before";
    } else {
      // mute only unmastered
      p1.muted = true;
      // play mastered
      p2.muted = false;
      document.getElementById("beforeAfter").innerHTML = "After";
    }
  

}
function audioPlayPause(){

  p1 = document.getElementById("player1");
  p2 = document.getElementById("player2");

  if (playing == false) {
    p1.muted = false;
    p2.muted = true;
    p1.play();
    p2.play();
    playing = true;
    document.getElementById("toggle").style.visibility = "visible";
    document.getElementById("playpause").innerHTML = "Pause Audio";
    document.getElementById("beforeAfter").innerHTML = "Before";
  } else {
    document.getElementById("player1").pause()
    document.getElementById("player2").pause()
    playing = false;
    document.getElementById("playpause").innerHTML = "Play Audio";
    document.getElementById("toggle").style.visibility = "hidden";
    document.getElementById("beforeAfter").innerHTML = "<br>";
  }

}
</script>

<div class="row-fluid">
<p style="font-size: 16px;">
  Our mastering engineers strive to bring your audio to a professional level, <a href="#rates">at rates that are the absolute best value for your dollar.</a><b> We offer assistance at the recording, mixing, and mastering stages to improve both your audio quality and your own production skills.
</b>
  Just read <a href="#reviews">reviews from our happy customers</a>, listen to some more <a target="_blank" href="/examples/">examples of our work</a> and get started today with <a href="#free">your first project free!</a>
  <br>
  <br>
  Learn more about Get Mastered, our engineers, and our vision, by clicking <a href="/blog/about/What-Is-Get-Mastered/">here</a>, or keep scrolling to see our services and rates.

</p>

  <br>
  <br>
</div>
</div>
</div> -->

<div id="about" class="landing-lower col-lg-12">

  <h1>Get the sound you want</h1>

  <p>While we launch, try out one of our services free of charge</p>
  <br>


  <div class="col-md-4">
    <a href="/services/#mix-feedback">
    <div class="service-panel">
    <h3>Mix Feedback</h3>
    <p>With mix feedback, you get a detailed breakdown of how you can improve your mix, along with solutions to any specific problems you are running into. Find out more by clicking here.</p>
    <img src="/img/icons/mix.png">
    <br><br>
    <h4>Try now free</h4>
    </div>
    </a>
  </div>

  
  <div class="col-md-4">
    <a href="/services/#mastering">
    <div class="service-panel">
    <h3>Music Mastering</h3>
    <p>Make your music cohesive, clear, and balanced on any system through our collaborative mastering process. Bring your music to the level of the artists you admire by clicking here.</p>
    <img src="/img/icons/cd.png">
    <br><br>
    <h4>Try now free</h4>
    </div>
    </a>
  </div>


  <div class="col-md-4">
    <a href="/services/#cleanup">
    <div class="service-panel">
    <h3>Audio Cleanup</h3>
    <p>Restore problematic dialogue recordings to sound clear, audible, and natural. Whether you're working on a podcast, lecture, interview, or historical recording, click here to learn how we can help you.</p>
    <img src="/img/icons/mic.png">
    <br><br>
    <h4>Try now free</h4>
    </div>
    </a>
  </div>

<!--   <div class="col-lg-12">
  <br>
  {% include email-submission-form-landing.html %}
  <br>
  </div> -->
  

  <div class="col-lg-12">
  <p><br><br><b>Choose one of our above services, or learn more about our <a href="/blog/about/Who-We-Are/">engineers</a>, our <a href="/blog/about/What-Is-Get-Mastered/">philosophy</a>, and <a href="/services/#reviews">what people think of us</a>.</b></p>
  <br>
  </div>
  
  </div>