
   <div class="col-md-5 col-xs-12" style="padding: 0%; position: relative;">

  <div class="col-xs-6 panel-holder">
    <div class="panel-header-grey row-equal"><h3>Podcast Mastering<br>Standard</h3></div>
    <div class="panel-price"><h3>$6.25</h3>
      <p><i>per 5 minutes, rounded down</i></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p><b>1 podcast master</b></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Unlimited length</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Unlimited revisions</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Recording assistance included</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Pay as you go</p></div>
      <a class="btn btn-default btn-panel" href="/payment/calculators/podcasts/"><h3>Calculate price</h3></a>

  </div>

  <div class="col-xs-6 panel-holder">
    <div class="panel-header-green row-equal"><h3>Podcast Mastering<br>Plan</h3></div>
    <div class="panel-price"><h3>$95</h3>
      <p><i>per month</i></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p><b>3 podcast masters per month</b></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Unlimited length</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Unlimited revisions</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Recording assistance included</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Cancel anytime</p></div>
      <a class="btn btn-default btn-panel" href="/subscriptions/podcast-mastering/"><h3>Start</h3></a>

  </div>

  </div>

<!-- 
    <div class="col-xs-6" style="padding: 1% 4%; position: relative;">
    <img src="/img/rates/mastering-standard-panel.jpg" alt="value" width="100%">
    <a class="btn btn-default" style="width: 100%; height: 45px; font-size: 14px; padding-top: 10px;" href="/payment/calculators/mastering/">Calculate your price</a>
  </div> -->