
   <div class="col-md-5 col-xs-12" style="padding: 0%; position: relative;">

  <div class="col-xs-6 panel-holder">
    <div class="panel-header-grey"><h3>Music Mastering<br>Standard</h3></div>
    <div class="panel-price"><h3>$59</h3>
      <p><i>per song</i></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p><b>1 music master</b></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Up to 3 Revisions</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>1 week of our full attention</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Pay as you go</p></div>
      <a class="btn btn-default btn-panel" href="/payment/calculators/mastering/"><h3>Calculate price</h3></a>

  </div>

  <div class="col-xs-6 panel-holder">
    <div class="panel-header-green"><h3>Music Mastering<br>Plan</h3></div>
    <div class="panel-price"><h3>$45</h3>
      <p><i>per month</i></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p><b>1 music master per month</b></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Unlimited Revisions</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>1 week of our full attention</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Cancel any time</p></div>
      <a class="btn btn-default btn-panel" href="/subscriptions/mastering/"><h3>Start</h3></a>

  </div>

  </div>

<!-- 
    <div class="col-xs-6" style="padding: 1% 4%; position: relative;">
    <img src="/img/rates/mastering-standard-panel.jpg" alt="value" width="100%">
    <a class="btn btn-default" style="width: 100%; height: 45px; font-size: 14px; padding-top: 10px;" href="/payment/calculators/mastering/">Calculate your price</a>
  </div> -->