
   <div class="col-md-12 col-xs-12" style="padding: 0% 0%; position: relative;">

  <div class="col-xs-12 col-md-6 panel-holder">
    <div class="panel-header-grey"><h3>Music Mastering<br>Standard</h3></div>
    <div class="panel-price"><h3>$59</h3>
      <p><i>per song</i></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Expert feedback included</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Revisions until you are satisfied</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Turnarounds on your schedule</p></div>
      <a class="btn btn-default btn-panel" href="/payment/calculators/mastering/"><h3>Calculate price</h3></a>

  </div>

  <div class="col-xs-12 col-md-6 panel-holder">
    <div class="panel-header-green"><h3>Music Mastering<br>Plan</h3></div>
    <div class="panel-price"><h3>$45</h3>
      <p><i>per month</i></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Expert feedback included</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Revisions until you are satisfied</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Turnarounds on your schedule</p></div>
      <a class="btn btn-default btn-panel" href="/subscriptions/mastering/"><h3>Start</h3></a>

  </div>

  </div>

<!-- 
    <div class="col-xs-6" style="padding: 1% 4%; position: relative;">
    <img src="/img/rates/mastering-standard-panel.jpg" alt="value" width="100%">
    <a class="btn btn-default" style="width: 100%; height: 45px; font-size: 14px; padding-top: 10px;" href="/payment/calculators/mastering/">Calculate your price</a>
  </div> -->