
   <div class="col-md-5 col-xs-12" style="padding: 0%; position: relative;">

  <div class="col-xs-6 panel-holder">
    <div class="panel-header-grey"><h3>Mix Feedback<br>Standard</h3></div>
    <div class="panel-price"><h3>$19</h3>
      <p><i>per mix</i></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p><b>1 Mix Feedback Report</b><br></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>No monthly<br>commitment</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>72 hour turnaround</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Pay as you go</p></div>
      <a class="btn btn-default btn-panel" href="/payment/mix-feedback/"><h3>Purchase</h3></a>

  </div>

  <div class="col-xs-6 panel-holder">
    <div class="panel-header-green"><h3>Mix Feedback<br>Plan</h3></div>
    <div class="panel-price"><h3>$17</h3>
      <p><i>per month</i></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p><b>1 Mix Feedback Report per month</b></p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Mix Feedback<br>with every master</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>48 hour turnaround</p></div>
      <div class="panel-divider"></div>
      <div class="panel-item"><p>Cancel any time</p></div>
      <a class="btn btn-default btn-panel" href="/subscriptions/mix-feedback/"><h3>Start</h3></a>

  </div>

  </div>

<!-- 
    <div class="col-xs-6" style="padding: 1% 4%; position: relative;">
    <img src="/img/rates/mastering-standard-panel.jpg" alt="value" width="100%">
    <a class="btn btn-default" style="width: 100%; height: 45px; font-size: 14px; padding-top: 10px;" href="/payment/calculators/mastering/">Calculate your price</a>
  </div> -->