


<div id="mix-feedback" class="page-scroll col-lg-12 rates mix-feedback-rates">

<div class="row service-container" >

   <div class="col-md-1">
   </div>

 <div class="col-md-5">
  <div class="service-text">

      <h1>Mix Feedback</h1>
      <br>

      <img src="/img/icons/mix-b.jpg" width="100%">

  <p style="font-size: 16px; color: #333; text-shadow: 0px 0px 10px #ccc;"><br>

    With mix feedback, you get a detailed report from your mastering engineer with any mix level issues you are running into, along with their professional assessment of your mix. Our mix feedback report includes a breakdown of different aspects of your track, from EQ, to stereo placement, and everything else. Through mix feedback, you get to stay in control and hone your own mixing and recording skills to become confident in your sound.
    <br>
    <br>
    <b>Try our mix feedback for free by entering your email below</b>.
    <br>
    <br>
  </p>

    {% include email-submission-form-mix.html %}

    </div>
  </div>


 {% include panels-mix-feedback.html %}



 <div class="col-md-1">
   </div>


</div>



</div>
