


<div id="mix-feedback" class="page-scroll col-lg-12" style="padding: 5% 5%; margin: 0px; background: url(/img/backgrounds/mac-w-lq.jpg) no-repeat center center;   background-size: cover; 
  background-attachment: fixed;">
<div class="row" >

<!--   <img class="hidden-sm hidden-xs hidden-md" src="/img/rates/rates-header-full.png" alt="value" width="80%">
  <img class="hidden-lg hidden-xl" src="/img/rates/rates-header-phone.png" alt="value" width="70%">
  <br>
  <br> -->
   <div class="col-md-5 col-xs-12 hidden-md hidden-lg hidden-xl" style="padding: 5% 0% 0% 0%; margin: 0%;">
  <h1 style="color: #333; margin-bottom: 5px;">Mix Feedback</h1>

 <!--  <img src="/img/icons/mix-icon.png"> -->

  <p style="font-size: 16px; color: #333; text-shadow: 0px 0px 10px #ccc;"><br>

    Amazing music doesn't start at the mastering stage. That is why we offer Mix Feedback, giving you access to your mastering engineer during your mixing process.
    <br>
    <br>
    With Mix Feedback, you get the detailed assistance of your mastering engineer with any mix level issues you are having, along with their professional opinion of your mix. This additional stage in the mastering process is a win-win: you get to stay in control and hone your mixing and recording skills, while we get to give you the absolute best master possible. <a href="#free">Try us out, with your first mix feedback free</a>.

  </div>

   <div class="col-md-1">
   </div>

 {% include panels-mix-feedback.html %}
<!-- 
   <div class="col-md-5 col-xs-12" style="padding: 0%; position: relative;">

  <div class="col-xs-6" style="padding: 1% 4%; position: relative;">
    <img src="/img/rates/mix-feedback-standard-panel.jpg" alt="value" width="100%">
    <a class="btn btn-default" style="width: 100%; background: #777; height: 45px; font-size: 14px; padding-top: 10px;" href="/payment/mix-feedback/">Purchase</a>
  </div>

  <div class="col-xs-6" style="padding: 1% 4%; position: relative;">
    <img src="/img/rates/mix-feedback-plan-panel.jpg" alt="value" width="100%">
    <a class="btn btn-default" style="width: 100%; background: #777; height: 45px; font-size: 14px; padding-top: 10px;" href="/subscriptions/mix-feedback/">Start</a>
  </div>

  </div> -->

<!--  <div class="col-xs-2">
 </div>
  <div class="col-xs-2">
 </div> -->

 <div class="col-md-5 col-xs-12 hidden-xs hidden-sm" style="padding: 2% 2%; margin: 0% 0% 2% 2%;">
  <h1 style="color: #333; margin-bottom: 5px;">Mix Feedback</h1>

 <!--  <img src="/img/icons/mix-icon.png"> -->

  <p style="font-size: 16px; color: #333;"><br>

    Amazing music doesn't start at the mastering stage. That is why we offer Mix Feedback, giving you access to your mastering engineer during your mixing process.
    <br>
    <br>
    With Mix Feedback, you get the detailed assistance of your mastering engineer with any mix level issues you are having, along with their professional opinion of your mix. This additional stage in the mastering process is a win-win: you get to stay in control and hone your mixing and recording skills, while we get to give you the absolute best master possible. <a href="#free">Try us out, with your first mix feedback free</a>.

  </div>




 <div class="col-md-1">
   </div>


</div>



</div>
