


<div id="mix-feedback" class="page-scroll col-lg-12 rates mix-feedback-rates">

<div class="row service-container" >

   <div class="col-md-1">
   </div>

 <div class="col-md-5">
  <div class="service-text">

      <h1>Mix Feedback</h1>
      <br>

      <img src="/img/icons/mix-b.jpg" width="100%">

  <p style="font-size: 16px; color: #333; text-shadow: 0px 0px 10px #ccc;"><br>

    <b>Want some experienced ears on your music?</b>
    <br>
    <br>
    With mix feedback, you get a detailed report from our mastering engineers with their professional assessment of your mix, along with solutions to any specific problems you are having with your mix. Our mix feedback report includes a breakdown of different aspects of your track, from EQ, to arrangement, and everything in between, to help you improve your mixes, recordings, and - even more importantly - your production prowess. Through mix feedback, you get to stay in complete control of your sound and bring your own mixing and recording skills to perfection.
    <br>
    <br>
    <b>Get your first mix feedback report, on us, by entering your email below</b>.
    <br>
    <br>
  </p>

    {% include email-submission-form-mix.html %}

    </div>
  </div>


 {% include panels-mix-feedback.html %}



 <div class="col-md-1">
   </div>


</div>



</div>
