
<div id="cleanup" class="page-scroll col-lg-12 rates podcast-rates">
<div class="row" >

     <div class="col-md-1">
 </div>

 <div class="col-md-5">
 	<div style="padding: 2% 4%; margin: 0% 0% 2% 0%;">
 	<h1 style="margin-bottom: 5px; color: #eee;">Audio Cleanup</h1>
 	<!-- <img src="/img/icons/master-icon.png"> -->

 	<p style="font-size: 16px; color: #eee;"><br>

 		We know that often, podcasts, interviews, lectures, and other dialogue are recorded in a less than ideal environment. Our audio cleanup service removes background noise and recording artifacts, leaving every word audible and clear. We also balance levels between different speakers, to make your dialogue even, consistent, and intelligible.
 		<br>
 		<br>
 		<b>Try our podcast mastering for free by entering your email below</b>.

		</p>

		{% include email-submission-form-cleanup.html %}

		<br>
		<br>
		
	</div>
 </div>

 {% include panels-cleanup.html %}

<!-- 
      <div class="col-xs-2">
 </div> -->
<!-- 
  <div class="col-md-5 col-xs-12" style="padding: 0% 0%; position: relative;">

	<div class="col-xs-6" style="padding: 0% 4%; position: relative;">
		<img src="/img/rates/podcast-standard-panel.jpg" width="100%">
		<a class="btn btn-skin" style="width: 100%; height: 45px; font-size: 14px; padding-top: 10px;" href="/payment/calculators/podcasts/">Calculate your price</a>
	</div>

  	<div class="col-xs-6" style="padding: 0% 4%; position: relative;">
		<img src="/img/rates/podcast-plan-panel.jpg" width="100%">
		<a class="btn btn-skin" style="width: 100%; height: 45px; font-size: 14px; padding-top: 10px;" href="/subscriptions/podcast-mastering/">Start</a>
	</div>
	
  </div> -->

   <div class="col-md-1">
 </div>




  </div>
  </div>