

<div id="mastering" class="page-scroll col-lg-12" style="padding: 5% 5%; margin: 0px; background: url(/img/backgrounds/phones-b-lq.jpg) no-repeat center center;   background-size: cover; 
  background-attachment: fixed;">
<div class="row" >

     <div class="col-md-1">
 </div>

 <div class="col-md-5" style="padding: 2% 4%; margin: 0% 0% 2% 0%;">
 	<h1 style="margin-bottom: 5px; color: #eee;">Music Mastering</h1>
 	<!-- <img src="/img/icons/master-icon.png"> -->

 	<p style="font-size: 16px; color: #eee;"><br>
 		With Get Mastered, you don't just get a master. You get a personal mastering engineer who will work with you to make your music the best it can be. In addition to making your tracks louder, your albums cohesive, and your songs ready for release, our engineers take pride in artistically enhancing your track to fit your unique style and tastes.
		<br>
		<br>
		We don't rush quality. We take time to listen to and understand your track, so that we can bring it to its full potential. If you do absolutely need a rush job, we are happy to work with you at no extra cost.
		</p>
 </div>
<!-- 
      <div class="col-xs-2">
 </div> -->

  <div class="col-md-5 col-xs-12" style="padding: 0% 2%; position: relative;">

  	<div class="col-xs-4" style="padding: 0% 4%; position: relative;">
		<img src="/img/rates/mastering-single-panel.jpg" width="100%">
		<!-- <a class="btn btn-skin" style="width: 100%; height: 50px; font-size: 14px; padding-top: 10px;" href="/payment/">Choose</a> -->
	</div>

	<div class="col-xs-4" style="padding: 0% 4%; position: relative;">
		<img src="/img/rates/mastering-ep-panel.jpg" width="100%">
		<!-- <a class="btn btn-skin" style="width: 100%; height: 50px; font-size: 14px; padding-top: 10px;" href="/payment/">Choose</a> -->
	</div>

	<div class="col-xs-4" style="padding: 0% 4%; position: relative;">
		<img src="/img/rates/mastering-album-panel.jpg" width="100%">
		<!-- <a class="btn btn-skin" style="width: 100%; height: 50px; font-size: 14px; padding-top: 10px;" href="/payment/">Choose</a> -->
	</div>
	<a class="btn btn-skin" style="width: 92%; font-size: 24px; margin: 8% 2%; padding: 4% 4%;" href="/payment/calculators/mastering/">Calculate your price</a>


  </div>

   <div class="col-md-1">
 </div>




  </div>
  </div>