
<div id="podcasts" class="page-scroll col-lg-12" style="padding: 5% 5%; margin: 0px; background: url(/img/backgrounds/earbuds-b.jpg) no-repeat center center;   background-size: cover; 
  background-attachment: fixed;">
<div class="row" >

     <div class="col-md-1">
 </div>

 <div class="col-md-5" style="padding: 2% 4%; margin: 0% 0% 2% 0%;">
 	<h1 style="margin-bottom: 5px; color: #eee;">Podcast Mastering</h1>
 	<!-- <img src="/img/icons/master-icon.png"> -->

 	<p style="font-size: 16px; color: #eee;"><br>
 		We also offer audio improvement and mastering for podcasts. Whether you want to pay monthly or pay as you go, we will be here with you every step of the way, helping you achieve professional quality audio. <br><br>

 		We can help you mitigate clicks, pops, and hums in your dialogue, plus, included with our podcast mastering service is complimentary recording assistance. With recording assistance, we offer personalized tips to get you get the best recording possible and acheive professional quality recordings within your budget. <a href="#free">Try us out with your first podcast master on us</a>.
		</p>
 </div>
<!-- 
      <div class="col-xs-2">
 </div> -->

  <div class="col-md-5 col-xs-12" style="padding: 0% 0%; position: relative;">

	<div class="col-xs-6" style="padding: 0% 4%; position: relative;">
		<img src="/img/rates/podcast-standard-panel.jpg" width="100%">
		<a class="btn btn-skin" style="width: 100%; height: 45px; font-size: 14px; padding-top: 10px;" href="/payment/calculators/podcasts/">Calculate your price</a>
	</div>

  	<div class="col-xs-6" style="padding: 0% 4%; position: relative;">
		<img src="/img/rates/podcast-plan-panel.jpg" width="100%">
		<a class="btn btn-skin" style="width: 100%; height: 45px; font-size: 14px; padding-top: 10px;" href="/subscriptions/podcast-mastering/">Start</a>
	</div>
	
  </div>

   <div class="col-md-1">
 </div>




  </div>
  </div>