

<div id="mastering" class="page-scroll col-lg-12 rates mastering-rates">

<div class="row service-container">

     <div class="col-md-1">
 </div>

 <div class="col-md-5">
 	<div class="service-text">

 		<h1>Music Mastering</h1>
 		<br>
 	
 	 <img src="/img/icons/cd-b.jpg" width="100%">

 	<p><br>

 		Bring a human touch and top of the line processing to your music through our mastering service. In addition to making your tracks loud, cohesive, and ready for release, our engineers take pride in <a href="/examples/">enhancing our clients' music without compromising their signature sound</a>. Each song we master gets a full week of our attention and listening through different devices, so you can be sure your mix will sound fantastic everywhere. 
 		<br>
 		<br>
 		<b>Hear firsthand what we can do to your music with a free master, on us</b>.
 		<br><br>
		</p>

		{% include email-submission-form-mast.html %}
		
	</div>
 </div>


 {% include panels-mastering.html %}



   <div class="col-md-1">
 </div>




  </div>
  </div>