

<div id="mastering" class="page-scroll col-lg-12 landing-lower">

 <div class="col-md-12">
 	<div class="service-text" id="mastering">


 		<div class="row">
 			<h1>Our Mastering<br><br></h1>
	<p style="font-size: 150%;">
		<b>What's even better than getting the polished, ready-for-release sound of professional music mastering?</b>
		<br>Getting a team of mastering engineers who want to help you grow your production skills.
		<br>Meet your new audio experts:

<!-- 		At Get Mastered, both come included with our refreshingly human mastering service. 
 -->		<br><br>
		</p>
 	</div>

 		<div class="row headshot-row">
		<div class="col-md-4 col-xs-12">
			<a class="headshot-text" target="_blank" href="/blog/about/Who-We-Are/">
 			<img class="headshot" src="/img/headshots/keenan.png">
 				<br>
 			<b>Keenan Hye</b><br>Technical Audio & Acoustics Professional
 			</a>
 			<!-- </a> -->
 		</div>
 		<div class="col-md-4 col-xs-12">
 			<a class="headshot-text" target="_blank" href="/blog/about/Who-We-Are/">
 			<img class="headshot" src="/img/headshots/connor.png">
 			<br>
 			<b>Connor Eichinger</b><br>Mixing & Recording Professional
 			</a>
 		</div>
 		<div class="col-md-4 col-xs-12">
 			<a class="headshot-text" target="_blank" href="/blog/about/Who-We-Are/">
 			<img class="headshot" src="/img/headshots/lee.png">
 			<br>
 			<b>Lee Schuna</b><br>Narrative Audio & Sound Design Professional
 			</a>
 		</div>
 		</div>


 		<div class="row">
 			<p>
		With Get Mastered, you don't just get a master - you get expert feedback on your music. Our prices reflect the level of quality you can expect from us. If your budget is tight, try our <a target="_blank" href="https://goo.gl/forms/3611iAFy1O5Mpgu72">Pro Bono Mastering Program</a>.

 		<br>
 		<br>
 		</p>
 	</p>
 </div>



	</div>
 </div>


 {% include panels-mastering.html %}
 <br>
 <br>

 <div class="col-md-12">
 	<div class="service-text">

<p style="font-size: 150%;">
	<br>
	<br>
		Want to learn more? 
		<a href="/#reviews">Read what our clients have to say about us</a>.
		</p>
	</div>
</div>

   <div class="col-md-1">
 </div>




  <!-- </div> -->
  </div>