

<div id="reviews" class="col-lg-12 bg-white" style="padding: 5% 15%; margin: 0px;">
<div class="row-fluid">



 
            <h1 style="color: #333;">What are people saying about us?</h1>
            <br>
            <!-- <br>
            <br>
            <i>content</i>
            - 
            <br>
            <br> -->
            <p style="font-size: 120%; color: #333; font-weight: 300;">

            <i>"The mix feedback Keenan gave me was superb. He didn't just give me advice that improved that one song but he was also able to take my mixing technique to a whole new level, resulting in an improvement on all the other songs I was working on. Such assistance is invaluable, I would recommend everyone to go and try it!"</i> - Naumm
            <br>
            <br>


            <i>"Keenan was <b>extremely prompt and professional</b> and made me feel like my project was #1 on his agenda! <b>Very satisfied</b> with Get Mastered and will be using them from now on!"</i> - Alex Ward
            <br>
            <br>


            <i>"Keenan was <b>amazing</b>, he worked with me throughout the process and even helped advise me on subtle ways to make my record better. He cared not just about his work process but what I did as well, and that's what makes the best records – people working together. If you want a mastering engineer to help <b>take your recordings to the next level</b>, Keenan's your guy."</i> - Andrew Nappo
            <br>
            <br>

            <i>"Keenan’s mastering was <b>brilliant</b>. All of the hours I spent recording and writing my song became totally worth it once I placed it in his hands. I care about my songs a lot, and it quickly became evident that Keenan cared, too."</i> - Matt Bennett
            <br>
            <br>

            <i>"I had a great time working with Keenan from Get Mastered. He approached my music with an open-minded, collaborative attitude, offering <b>constructive advice</b> and expertise while still working to retain the spirit and vision of what I was trying to make. He's a talented engineer with a solid ear - <b>I would recommend him to anyone!</b>"</i> - Matthew O'Connor 
            <br>
            <br>

            <i>"Keenan was very <b>professional</b>, polite, and informative working with me on my track. He answered my questions and made sure that it came out the way I wanted. Not only did it come out sounding stellar, but I learned a bit about my craft as well. <b>I'll be using him in the future</b> for mastering my work."</i> - Asa Jones
            <br>
            <br>

            <i>"Keenan did a <b>great</b> job finishing the tracks. He brought some nice stuff out in the mix that I didn't hear before and made sure that <b>everything was very even and still had punch to it</b>. Great work."</i> - Max Gunther
            <br>
            <br> 

            <i>"I was <b>very impressed</b> with the work Keenan did to my mix.  He helped to make my lo-fi recording sound clean and crisp, was receptive to any further requests, and handled all communications in a <b>professional</b> manner."</i> - Hilary of btwolf
            <br>
            <br>

            <i>"<b>Excellent service</b>, very professional and easy to work with. Keenan edited his work on pieces that I wanted modified, and was <b>very punctual</b> and flexible throughout the whole process."</i> - Jack Tarricone
            <br>
            <br> 

            <i>"Getmastered.com is everything a musician needs. Keenan tweaks 
            everything how you want it to be until you are satisfied and <b>gets 
            everything done very quickly</b>. If you need something done in really 
            short period of time, you can't go wrong with this guy. Great sound 
            quality and <b>fully professional service</b>."</i> - Adam of Hope Burn
            <br>
            <br>

            <i>“Keenan did an <b>excellent</b> job mastering my songs.  He was responsive to my notes and, as we collaborated, was quick to turn around each new draft.  I’d recommend his services to anyone looking to get their project professionally mastered.”</i> - Colin Zelin
            <br>
            <br>

            <i>"This service was simple and quick and the master that was produced <b>fixed all the problems I never knew were there</b>."</i> - Ezra Selga
            <br>
            <br>  

            <i><b>"Loved it!</b> Quick, friendly service and very good results."</i> - Rob Sommerlad‎ - 
            
            <a href="https://www.facebook.com/getmastered/posts/1748983295324815?ref=notif&notif_t=page_wall">from Facebook</a>
            <br>
            <br>


            <i>"I absolutely love my finished product from Get Mastered, and I'll be back for work again soon! <b>Thanks for making my music sound better than ever!</b>"</i> - Richard Lathrop - 
            
            <a href="https://www.facebook.com/getmastered/posts/1755223604700784?notif_t=page_wall">from Facebook</a>
            <br>
            <br>

            <i>"Get Mastered is a truly amazing team! My master was delivered quickly and it sounds top notch! I've been able to say how I wanted the song to sound like and the results were beyond my expectations. <b>I didn't think they could make my music sound so professional. Moreover, it's a real pleasure to work with people who really care about their customers!</b>"</i> - Origin-X - 
            
            <a href="https://www.facebook.com/getmastered/posts/1760121437544334?notif_t=page_wall">from Facebook</a>
            <br>
            <br>


      </p>
        </div>
      </div>

      
  <br>