<!DOCTYPE html>


<section class="bg-white" style="padding: 5px 5px 5px 60px; margin: 0px; text-align: right;">

<!--     <h4 style="color: #777; display: inline; text-transform: uppercase;">
    <a href="/blog/">Blog home</a></h4>
<br>
<br> -->

<h5 style="color: #777; display: inline; text-transform: uppercase;">
    What is Get Mastered?
</h5>

<p style="color: #999; font-size: 15px; padding-top: 5px;">
Get Mastered is an audio improvement and mastering service with mix and recording feedback - 

<span><a href="/blog/about/What-Is-Get-Mastered/" style="color: #aaa;">Learn more.</a><br></p>


<br><h5 style="color: #777; display: inline; text-transform: uppercase;">
    Who Are we?</h5>

<p style="color: #999; font-size: 15px; padding-top: 5px;">
We are passionate engineers who believe in amazing sounding audio - 
<span><a href="/blog/about/Who-We-Are/" style="color: #aaa;">More about us</a>
<br><br></p>



<h5 style="color: #777; display: inline; text-transform: uppercase;">
    <a href="/">Try us out for free</a><br><br><br>
</h5>



<h5 style="color: #777; display: inline; text-transform: uppercase;">Learn about</h5>


<p style="color: #999; font-size: 15px; padding: 5px 0px 0px 0px;">

{% for tag in site.tags %}
    <a style="color: #ccc;" href="/directory/{{ tag | first | slugize }}/">
        {{ tag | first }}
        {% if forloop.last == false %}
        <br>
        {% endif %}
    </a>
{% endfor %}

</p>

 <form action="{{ '/search' | prepend: site.baseurl }}" method="GET" style="padding: 0px 0px 10px 20px;">
 		<!-- <label style="font-size: 17px;" for="query">Search:  </label> --> 
              <input style="font-size: 13px;" type="text" name="query" placeholder="Or, search a term">
            </form>

            <br>




<br>

            <!-- <h4 style="color: #777; display: inline; text-transform: uppercase;">
    Get Social
</h4>

<br>
<a target="_blank" href="http://www.facebook.com/getmastered" style="padding: 0% 1%;"> <img src="/img/Button-FB.png" width="30px" height="30px"> </a>

<a target="_blank" href="http://www.soundcloud.com/getmastered" style="padding: 0% 1%;"> <img src="/img/Button-SC.png" width="30px" height="30px"> </a>

<a target="_blank" href="http://www.twitter.com/getmastered" style="padding: 0% 1%;"> <img src="/img/Button-Twit.png" width="30px" height="30px"> </a>
<br>
<br> -->

<!-- <p style="color: #000;"> <a style="font-size: 15px; color:#999;" href="/archive/index.html">Full Archive</a></p> -->

</section>