<!DOCTYPE html>
<div align="right" style="margin: 0px 10px 30px 0px; padding: 1px;">
	<div class="row-fluid" style="padding: 10px 0px;">
	<a class="twitter-share-button" data-count="vertical"
  href="http://getmastered.com{{ page.url }}">
Tweet
</a>
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
</div>

	<div class="fb-share-button" data-href="http://getmastered.com{{ page.url }}" data-layout="box_count">
	</div>
	</div>

