{% include header.html %}

<div class="row equal" style="padding: 0px; margin: 0px;">
  <div class="col-lg-3 sidebar" style="padding: 0px; margin: 0px;">
    <div>
      {% include sidebar.html %}
    </div>
    <div class="row-fluid">
      {% include mailing-list-signup.html %}
    </div>
  </div>
  <div class="col-lg-9 bg-white" style="padding-top: 90px; padding-left: 10px; padding-right: 90px; border-left-style: none;">
    <div class="row-fluid">
      <h1 style="color: #000;">{{ page.title }}</h1>
    </div>
    <div class="row-fluid">
      <h5> 
        <a href="{{ page.previous.url }}">< {{ page.previous.title }}</a>
        . . .
        <a href="{{ page.next.url }}">{{ page.next.title }} ></a> <br>
      </h5>
    </div>
    <div class="row-fluid">
      {{ content }}
      {% include disqus-comments.html %}
    </div>
    </div>
  </div>
</div>

{% include footer.html %}
